{% extends "download/base.html" %}


<link href="https://vjs.zencdn.net/7.20.3/video-js.min.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>


{% block content %}
<div class="container mt-5">
    <div class="mb-4">
        <a href="{% url 'download_youtube' %}" class="btn btn-secondary">
            <i class="fas fa-home mr-2"></i> Назад
        </a>
    </div>

    <h1>{{ video.title }}</h1>
    <p>Оригинальный URL: <a href="{{ video.youtube_url }}" target="_blank">{{ video.youtube_url }}</a></p>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Воспроизведение</h5>
            <video
                id="my-video"
                class="video-js vjs-big-play-centered"
                controls
                preload="auto"
                width="640"
                height="360"
                poster="MY_VIDEO_POSTER.jpg"
                data-setup="{}"
            >
                <source src="{{ video.video_file.url }}" type="video/mp4" />
                <p class="vjs-no-js">
                    Для просмотра этого видео, пожалуйста, включите JavaScript и обновите браузер до
                    <a href="https://videojs.com/html5-video-support/" target="_blank">
                        поддерживающего HTML5 видео
                    </a>
                </p>
            </video>
        </div>
    </div>

    <div class="mt-4">
        <a href="{{ video.video_file.url }}" class="btn btn-primary btn-lg" download="{{ video.title }}.mp4">
            <i class="fas fa-download mr-2"></i> Скачать MP4
        </a>
    </div>

    <div class="mt-4">
        <h5>Информация о видео:</h5>
        <ul>
            <li>Название: {{ video.title }}</li>
            {% if video.video_file.size %}
                <li>Размер файла: {{ video.video_file.size|filesizeformat }}</li>
            {% endif %}
            {% if video.duration %}
                <li>Продолжительность: {{ video.duration }}</li>
            {% endif %}
            {% if video.resolution %}
                <li>Разрешение: {{ video.resolution }}</li>
            {% endif %}
        </ul>
    </div>
</div>

<script>
    var player = videojs('my-video');
</script>
{% endblock %}